{% extends "layout.html" %}

{% block content %}
<h1 class="main_heading">{{ product.product_name }} - Product Information</h1>
<img src="{{ url_for('static', filename='img/' + product.image_file) }}" alt="image not loading">
<p> <b>Price:</b> £{{ product.price }}</p>
<p> <b>Weight:</b> {{ product.weight }} grams</p>
<p> <b>Product Description: </b> {{ product.description }}</p>


<form action="{{ url_for('addtobasket') }}" method="POST" novalidate>
    <input type="hidden" name="productID" value="{{ product.id }}">
    <input type="submit" value="add to cart">
</form>


{% endblock %}